<connectionStrings>
  <!--DefaultConnection first
  
    for security, we would like to have the security files within our own database
    therefore, you will need to alter the Data Source and Initial Catalog parameters
    make the Data Source and Initial Catalog the same as your other connection-->
  <add name="DefaultConnection" 
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <!-- any other connection string-->
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
